

body {
  margin: 0;
  display: flex;
  overflow: hidden;
  background: black;
}

#root {
  width: 100vw;
  height: 100vh;
}

.cesiumContainer {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.threeContainer {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.links {
  position: absolute;
  top: 0;
  text-align: center;
  left: 0;
  right: 0;
  padding: 4px 6px;
  border-radius: 3px;
  background-color: rgb(63, 63, 63);
  color: rgb(192, 192, 192);
  margin: 12px auto;
  z-index: 3;
  
  width: fit-content;
  height: fit-content;
  font-family: sans-serif;
  font-weight: 300;
}

.links a {
  text-decoration: none;
  color: white;
}

/* Styles for aspect ratio of 1:1 or lower (square or portrait screens) */
@media (max-aspect-ratio: 1/1) {
  .cesiumContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }

  .threeContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
}

/* Styles for aspect ratio greater than 1:1 (widescreen) */
@media (min-aspect-ratio: 1/1) {
  .cesiumContainer {
    position: absolute;
    width: min(100vw, 100vh);
    height: min(100vw, 100vh);
  }

  .threeContainer {
    position: absolute;
    width: min(100vw, 100vh);
    height: min(100vw, 100vh);
  }
}